[Unit]
Description=EWBF's CUDA Zcash miner
After=network.target

[Service]
User=ewbf-miner
Type=simple
ExecStartPre=/usr/bin/bash -c 'until ping -4 -c1 www.google.com &>/dev/null; do echo "ping failed"; done'
ExecStart=/usr/lib/ewbf-miner --config /etc/ewbf-miner/miner.cfg --fee 0
Restart=on-failure

[Install]
WantedBy=multi-user.target
